@model ZaibBook.Models.ViewModel.WriterVM
@{
    ViewData["Title"] = "Index";
}



<div class="container p-3">

    <div class="row p-4">
        <div class="col-6">
            <h2 class="text-primary">Writer List</h2>
            @*                      <form class="d-flex" >
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>*@
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Writer" asp-action="CreateUpdate" class="btn btn-primary" >
             <i class="bi bi-plus-circle"></i> &nbsp;
                Create New Writer</a>
        </div>
    </div>


<table class="table table-bordered table-striped" style="width:100%">

    <thead> 
        <tr>
            <th>
                ID
            </th>
            <th>
                Writer Name
            </th>
            <th>
             Created Date
            </th>
             <th>

            </th>
        </tr>
    </thead>
    <tbody>

            @foreach (var item in Model.Writers)
            {
                <tr>
                       <td width="30%">
                        @item.Id
                        </td>
                    <td width="30%">
                        @item.Name
                    </td>
                    <td width="20%">
                        @item.CreatedDate
                    </td>
                     <td class="w-100 btn-group" role="group">
                                    <a class="btn btn-primary mx-2" asp-controller="Writer" asp-action="CreateUpdate" asp-route-id="@item.Id" > <i class="bi bi-pencil"></i> &nbsp; Edit</a>
                                    <a class="btn btn-danger mx-2" asp-controller="Writer" asp-action="Delete" asp-route-id="@item.Id"> <i class="bi bi-trash"></i> &nbsp; Delete</a>
                     </td>
                </tr>            
            }

    </tbody>
</table>


</div>

@section Scripts{

}

